<h1>Linktotag</h1>
<pre class="pre-scrollable">
<%= "$ curl -F 'link=http://soramugi.tumblr.com/random' https://linktotag.herokuapp.com" %>
<%= '<a href="http://soramugi.tumblr.com/post/6797251988/mashiro-pixiv#_=_"><img src="http://40.media.tumblr.com/tumblr_ln76vqyXd01qz8gslo1_500.jpg" alt="Tumblr ln76vqyxd01qz8gslo1 500" /><br />ハトムギ、玄米、月見草</a>' %>
</pre>
